@model string

<div class="modal fade text-left" id="ricercaAvanzata" tabindex="-1" role="dialog" aria-labelledby="ricercaAvanzataModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="timesSize" aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="ricercaAvanzataModalTitle">
                    <i class="fa fa-lg fa-search"></i>
                    <span class="text-after-icon">Ricerca prestazioni</span>
                </h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        @Html.Hidden("Utente", Model)
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="col-sm-5">
                                                <label for="codCliente" class="control-label marginTop15">Codice Cliente / Ragione Sociale</label>
                                                @Html.TextBox("codCliente", "", new { @class = "form-control" })
                                            </div>
                                            <div class="col-sm-5">
                                                <label for="caseID" class="control-label marginTop15">Codice Rintracciabilità</label>
                                                @Html.TextBox("caseID", "", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="col-sm-5">
                                                <label for="DataInizio" class="control-label marginTop15">Censito tra il</label>
                                                <div id="calendarDiv" class="input-group input-append date">
                                                    @{var _data = new DateTime(DateTime.Now.Year, 1, 1).ToShortDateString();}
                                                    <input class="form-control" data-format="dd/MM/yyyy" type="text" id="calendar" name="calendar" value="@_data" />
                                                    <span class="input-group-btn add-on">
                                                        <button class="btn btn-default h-btn-new" type="button">
                                                            <i class="fa fa-lg fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <label for="DataFine" class="control-label marginTop15">e il</label>
                                                <div id="calendarDiv2" class="input-group input-append date">
                                                    <input class="form-control" data-format="dd/MM/yyyy" type="text" id="calendar2" name="calendar2" value='@DateTime.Now.ToShortDateString()' />
                                                    <span class="input-group-btn add-on">
                                                        <button class="btn btn-default h-btn-new" type="button">
                                                            <i class="fa fa-lg fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer marginTop15">
                            <a class="btn btn-lg btn-default pull-left" data-dismiss="modal">
                                <i class="fa fa-lg fa-arrow-circle-o-left"></i><span class="text-after-icon">Annulla</span>
                            </a>
                            <a class="btn btn-lg btn-function" onclick="ricercaAvanzata();">
                                <i class="fa fa-lg fa-search"></i><span class="text-after-icon">Ricerca</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(function () {
        $('#calendarDiv').datetimepicker();
    });

    $(function () {
        $('#calendarDiv2').datetimepicker();
    });

    function ricercaAvanzata() {
        if ($('#calendar').val() == '') {
            notifyWarning("Data inizio non inserita..."); return false;
        }
        if ($('#calendar2').val() == '') {
            notifyWarning("Data fine non inserita..."); return false;
        }
        $('#ricercaAvanzata').modal('hide');
        displayModalWaiter();

        var _url;
        _url = '@Url.Action("RicercaAvanzata", "FuoriStandard")';

        $.ajax({
            url: _url,
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                calendar: $('#calendar').val(),
                calendar2: $('#calendar2').val(),
                CodiceRintracciabilita: $('#caseID').val(),
                Cliente: $('#codCliente').val(),
                CodGruppo: $('#Tipologia').val(),
                TuttiPendChiusi: $('.actived').val()
            }),
            success: function (result) {
                $("#indennizziTableContainer").html(result);
                setIndennizziDataTable();
                hideModalWaiter();

            },
            error: function (request, status, error) {
                hideModalWaiter();
                notifyWarning(error);
            },
        });
    }

</script>
