@{
    ViewBag.Title = "ReportPrestazioni";

    if (!CurrentUser.HasPermissionOrIsPrivileged("gfs.fuoriStandard.approvazione"))
    {
        Response.Redirect(CommonUrls.BaseUrl);
    }
}
<div class="row">
    @Html.Partial("~/views/rimborsi/_newModalWaiter.cshtml", "")  
   @Html.Partial("~/views/FuoriStandard/_confermaModificheModal.cshtml", "L'anteprima potrebbe richiedere anche alcuni minuti. Continuare?")      
    <div class="col-sm-12 space-container">
        <div class="col-sm-12">
            <div id="rowFilter">
                <h2>
                    @CommonSnippets.IconLinkToHomepage
                    /
                    <i class="fa fa-file-excel-o"></i>
                    <span class="text-after-icon">Report Prestazioni</span>
                </h2>
            </div>
        </div>
    </div>
    <div class="col-sm-12 space-container">
        <div class="row container-fluid">
            <div class="col-sm-2">
                <div class="row">
                    <div class="col-sm-12">
                        @Html.Partial("_leftMenu", "ReportPrestazioni")
                    </div>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="row container-fluid">
                    <div id="recuperoPrestazioniContainer" class="col-sm-12">
                        <div class="container-fluid filterContainer">                            
                            <div class="pull-right mr-l" id="numeroPagineContainer">
                                <select class="form-control selectCaret" id="numeroPagine" name="numeroPagine" onchange="filtraNumeroPagine();">
                                    <option value="5" selected>5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="30">30</option>
                                    <option value="35">35</option>
                                    <option value="40">40</option>
                                    <option value="45">45</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                            <div class="pull-left">
                                <a role="button" title="anteprima dei dati" id="anteprimaReport" class="btn btn-function btn-new-focus mr-r" onclick="displayAnteprima();"><span class="fa fa-lg fa-file-text-o"><span class="text-after-icon">Anteprima</span></span></a>
                            </div>
                            <div class="pull-left">
                                <a role="button" title="scarica contenuto dettagliato in excel" id="esportaPrestazioni" class="btn btn-function btn-new-focus" href="@Url.Action("ExportReportPrestazioni","FuoriStandard")" onclick="showWaiter();"><span class="fa fa-lg fa-file-excel-o"><span class="text-after-icon">Scarica Excel</span></span></a>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12 cointainerTableFuoriStandard bg-w" id="indennizziTableContainer">                                   
                                        @Html.Partial("~/views/FuoriStandard/_reportPrestazioni.cshtml", null)                                    
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(".application-title").text("Gestione Fuori Standard");

    function displayAnteprima() {
        $('#confermaModifiche').modal('show');

        $("#confMod").off().click(function () {
            displayModalWaiter();
            var _url = '@Url.Action("AnteprimaPrestazioni", "FuoriStandard")';

            $.ajax({
                url: _url,
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                }),
                success: function (result) {
                    $("#indennizziTableContainer").html(result);
                    setIndennizziDataTable();
                    filtraNumeroPagine();
                    $("#anteprimaReport").addClass("notdisplayed");
                    hideModalWaiter();
                },
                error: function (request, status, error) {
                    notifyWarning(error);
                    hideModalWaiter();
                }
            });
        });
    }

    function setIndennizziDataTable() {
        if ($.fn.dataTable.isDataTable('#gridIndennizzi')) {
            _indennizziTable = $('#gridIndennizzi').DataTable();
        }
        else {
            _indennizziTable = $('#gridIndennizzi').DataTable({
                language: {
                    info: "Record da <strong>_START_</strong> a <strong>_END_</strong> di <strong>_TOTAL_</strong>",
                    infoEmpty: "",
                    zeroRecords: "",
                    emptyTable: "<div class='row' style='padding-top:10px;'><div class='col-sm-1 text-right'><span class='fa fa-3x fa-arrow-up'></span></div><div class='col-sm-11'><span style='font-size:18px;'>Fai click su 'Anteprima' per visualizzare l'elenco delle prestazioni nella griglia, altrimenti fai click sul pulsante 'Scarica Excel' per scaricare immediatamente il file excel.</span></div></div>",
                    paginate: {
                        first: "<<",
                        previous: "<",
                        next: ">",
                        last: ">>",
                    },
                },
                "pageLength": 5,
                columns: [                
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                { "orderable": false },
                ],
                order: [1, 'asc']
            });
        }
        $('[data-toggle="tooltip"]').tooltip();
    }
    $(function () {
        setIndennizziDataTable();
    });

    function filtraNumeroPagine() {
        var table = $('#gridIndennizzi').DataTable();
        table.page.len($("#numeroPagine").val()).draw();
    }

    function showWaiter() {
        displayModalWaiter();
        setTimeout(function () {
           hideModalWaiter();
        },17500)
    }

</script>

