@model ISubCollection<GestioneRimborso>

@{
    IClienteService _clienteService = (IClienteService)RevoContext.ServiceProvider.GetServiceFor<Cliente>();
    IRimborsoService _rimborsoService = (IRimborsoService)RevoContext.ServiceProvider.GetServiceFor<GestioneRimborso>();

    string nominativo = null;
    if (Model != null)
    {
        var count = 0;
        string _nom = null;
        foreach (var item in Model.Items)
        {
            _nom = "Elenco rimborsi confermati del cliente:  " + _clienteService.ClienteByID(item.CodiceCliente);
            if (nominativo != _nom && count == 0)
            {
                nominativo = "Elenco rimborsi confermati del cliente:  " + _clienteService.ClienteByID(item.CodiceCliente);
                count++;
            }
            else if (nominativo != _nom && count > 0)
            {
                nominativo = null;
                break;
            }
        }
    }
}

@{
    if (Model == null)
    {
        @Html.Raw(HtmlSnippets.Alert.Info("Nessun rimborso da visualizzare..."))
    }
    else
    {
        <table id="gridRimborsiConfermati" class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th class="text-left">Sel</th>
                    <th class="text-left">Anno</th>
                    <th class="text-left">Numero</th>
                    <th class="text-left">Tipo Rimborso</th>
                    <th class="text-left">Data Conferma</th>
                    <th class="text-right">Importo</th>
                    <th class="text-center">Stato</th>
                    <th class="text-left">Data Inserimento</th>
                    <th class="text-left">Utente Conferma</th>
                </tr>
            </thead>
            <tbody>
                @{
        foreach (GestioneRimborso _r in Model.Items)
        {
            String _trClass = String.Empty;
            String _trIcon = String.Empty;

            <tr class="@_trClass" onclick="selectRow(event);">
                <td class="text-left">@Html.Raw(_trIcon)</td>
                <td class="text-left chk"><input id="selezioneRimborso" value="@_r.CodiceCliente;@_r.AnnoDocumento;@_r.NumeroDocumento;@_r.TipoDocumento" class="sel chkSelectRow" type="checkbox" /></td>
                <td class="text-left">@_r.AnnoDocumento</td>
                <td class="text-left">@_r.NumeroDocumento</td>
                <td class="text-left">@_rimborsoService.GetTipoRimborso(_r.TipoRimborso)</td>
                <td class="text-left">@_r.DataConferma</td>
                <td class="text-right">@_r.ImportoTotaleRimborso €</td>
                <td class="text-center">@_rimborsoService.GetStatoDocumento(_r.StatoDocumento)</td>
                <td class="text-left">@_r.DataInserimento</td>
                <td class="text-left">@_r.UtenteConferma</td>
            </tr>
        }
                }
            </tbody>
        </table>
    }
}

<script>

    function selectRow(e) {
        if (e.target.type != "checkbox") {
            var tr = $(e.target).parent();
            $(':checkbox', tr).trigger("click");
        }
    }

    $('#btnSelezionaTutti').removeClass("notdisplayed");
    $('#btnDeseleziona').removeClass("notdisplayed");
    $('#btnRistampa').removeClass("notdisplayed");

    $("#lblNominativo").text('@nominativo');
    if ($("#lblNominativo").text() != "") {
        $("#omino").removeClass("invisible");
    }
    else { $("#omino").addClass("invisible"); }

</script>

