@model String

@{
    String utenteCorrente = RevoRequest.CurrentUser.UserId;

    if (Model != null)
    {
        utenteCorrente = Model;
    }

    ViewBag.Title = "RistampaRimborsi";
    bool IsSuperUser = RevoRequest.CurrentUser.IsSuperUser();

    if (!CurrentUser.HasPermissionOrIsPrivileged("gri.rimborsi"))
    {
        Response.Redirect(CommonUrls.BaseUrl);
    }
}

<div class="row">
    @Html.Partial("~/views/rimborsi/_newModalWaiter.cshtml", "")
    @Html.Partial("~/views/rimborsi/_cercaClienteModal.cshtml")
    @Html.Partial("~/views/rimborsi/_ristampaMassivaModal.cshtml")
    <div class="col-sm-12 space-container">
        <div class="col-sm-12">
            @if (IsSuperUser && 1 == 0)
            {
                <div class="container-information pull-right">
                    <span class="btn-lg">
                        Impersonificazione utente:
                        <b class="btn-lg" id="utenteImp">@Model</b>
                    </span>
                </div>
            }
            <h2>
                <a href="@UrlFor.HomeRimborsi" title="torna alla homepage"><i class="fa fa-arrow-left"></i></a>
                /
                <i class="fa fa-print"></i>
                <span class="text-after-icon">Ristampa Rimborsi</span>
            </h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 space-container">
        <div class="col-sm-2">
            <div class="row">
                <div class="col-sm-12">
                    @Html.Partial("_leftMenu", "RistampaRimborsi")
                </div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="col-sm-12 container-information">
                <h4>Selezione dei rimborsi da ristampare</h4>
                <div class="input-group col-sm-4 pull-left mt-10">
                    <input type="text" class="form-control" id="txtSearchTerm" placeholder="Codice Cliente">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-function" onclick="ricerca('@utenteCorrente');" id="btnSearch">
                            <i id="iconSearch" class="fa fa-lg fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="input-group pull-left mr-l mt-10">
                    <a class="btn btn-function" data-toggle="modal" data-target="#ristampaMassiva">
                        <i class="fa fa-lg fa-calendar"></i>
                        <span class="text-after-icon">Cerca per date</span>
                    </a>
                </div>
                <div class="col-sm-12">
                    <i id="omino" class="fa fa-lg fa-user sizeXLarge invisible"></i><label class="text-after-icon mt-10 fontSizeMedium" id="lblNominativo" />
                </div>
                <div class="col-sm-12 container-information bg-w" id="confermaRimborsiTableContainer">
                    <div class="col-sm-12 bg-w" id="rimborsiTableContainer">
                        @Html.Raw(HtmlSnippets.Alert.Info("Nessun rimborso da visualizzare..."))
                    </div>
                    <div class="input-group col-sm-1 pull-left">
                        <a class="btn btn-function notdisplayed" id="btnSelezionaTutti" onclick="selezionaTutto();">
                            Seleziona tutti
                        </a>
                    </div>
                    <div class="input-group col-sm-1 pull-left mr-l">
                        <a class="btn btn-function notdisplayed" id="btnDeseleziona" onclick="deselezionaTutto();">
                            Deseleziona tutti
                        </a>
                    </div>
                    <div class="input-group col-sm-12 pull-right mr-l p-20 marginBottom10">
                        @using (@Html.BeginForm("RistampaRimborsiSelezionati", "Rimborsi", FormMethod.Post, new { target = "_blank" }))
                        {
                            @Html.Hidden("ClienteAnnoNumeroDocumento");
                            @Html.Hidden("Utente", @utenteCorrente);

                            <a class="btn btn-lg btn-function pull-right notdisplayed" id="btnRistampa" onclick="ristampaRimborsi('@utenteCorrente');">
                                <i class=" fa fa-lg fa-print">
                                </i>
                                <span class="text-after-icon">Ristampa Rimborsi</span>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(".application-title").text("Gestione Rimborsi");

    function ristampaRimborsi(utente) {

        var items = [];
        var allPages = _rimborsiConfermatiTable.cells().nodes();
        $(allPages).find('input[type="checkbox"]:checked').each(function () {
            var status = $(this).val();
            items.push(status)
        });

        if (items.length == 0) {
            notifyWarning("Nessuna riga selezionata..."); return false;
        }

        displayModalWaiter();

        $("#ClienteAnnoNumeroDocumento").val(JSON.stringify(items));
        $("form").submit();
        hideModalWaiter();
    }

    function startSearch(e) {
        if (e.target.length >= 9 || e.keyCode == 13) {
            ricercaEsatta();
            return false;
        }
    }

    var queue = 0;
    var enterPressed = false;

    $("#txtSearchTerm").bind("keyup", function (e) {
        if (e.keyCode == 8 || e.keyCode == 46) {
            if ($(this).val().length < 10) {
                $("#gridRimborsiConfermati").DataTable().clear().draw();
                $("#lblNominativo").empty();
            }
            else {
                doSearch(e);
            }
        }
    });

    $("#txtSearchTerm").bind("keypress", function (e) {
        setTimeout(function () { doSearch(e); }, 10);
    });

    function doSearch(e) {
        if (e.keyCode == 13) {
            if (enterPressed) {
                return;
            }
            enterPressed = true;
            setTimeout(function () {
                enterPressed = false;
            }, 1000);
        }
        if (queue == 0) {
            queue = 1;
            if (e.keyCode == 13 && e.target.value.length < 10) {
                $("#btnSearch").click();
            }
            else if (e.target.value.length >= 10) {
                ricercaEsatta(e.target.value);
            }
            setTimeout(function () { queue = 0; }, 100);
        }
    }


    $("#txtSearchTerm").bind("paste", function (e) {
        if (queue == 0) {
            queue = 1;
            setTimeout(function () {
                var pastedData = e.target.value
                if (pastedData.length >= 10)
                    ricercaEsatta(pastedData);
                setTimeout(function () { queue = 0; }, 100);
            }, 150);
        }
    });

    function ricercaEsatta(_term) {

        var _url;
        var _utente = $("#utenteImp").text();
        if (_utente == '' || _utente == undefined) {
            _utente = $('#Utente').val();
        }

        if (_term.trim().length < 1) {
            notifyWarning("Ricerca non valida...");
            return false;
        }
        displayModalWaiter();

        var _url2 = "@UrlFor.CercaRimborsiConfermati("_term_", "_utente_")".replace('_term_', encodeURIComponent(_term)).replace('_utente_', encodeURIComponent(_utente));

        $.ajax({
            url: _url2,
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
            }),
            success: function (result) {
                displayModalWaiter();
                $("#rimborsiTableContainer").html(result);
                setRimborsiConfermatiDataTable();
                setTimeout(function () { hideModalWaiter(); }, 500);
            },
            error: function (request, status, error) {
                notifyWarning(error);
                setTimeout(function () { hideModalWaiter(); }, 500);
            }
        });
    }

    function ricerca(utente) {

        var _url;
        var _term = $("#txtSearchTerm").val();
        var _utente = utente;
        if (_term.trim().length < 1) {
            notifyWarning("Ricerca non valida...");
            return false;
        }
        displayModalWaiter();

        var _url2 = "@UrlFor.CercaRimborsiConfermati("_term_", "_utente_")".replace('_term_', encodeURIComponent(_term)).replace('_utente_', encodeURIComponent(_utente));

        $.ajax({
            url: _url2,
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
            }),
            success: function (result) {
                displayModalWaiter();
                $("#rimborsiTableContainer").html(result);
                setRimborsiConfermatiDataTable();
                setTimeout(function () { hideModalWaiter(); }, 500);
            },
            error: function (request, status, error) {
                notifyWarning(error);
                setTimeout(function () { hideModalWaiter(); }, 500);
            }
        });
    }

    function setRimborsiConfermatiDataTable() {
        if ($.fn.dataTable.isDataTable('#gridRimborsiConfermati')) {
            _rimborsiConfermatiTable = $('#gridRimborsiConfermati').DataTable();
        }
        else {
            _rimborsiConfermatiTable = $('#gridRimborsiConfermati').DataTable({
                columns: [
                { "orderable": false, className: "info-column" },
                { "orderable": false },
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                ],
                order: [2, 'asc']
            });
        }
        $('[data-toggle="tooltip"]').tooltip();
    }
    $(function () {
        setRimborsiConfermatiDataTable();
    });

    function selezionaTutto() {
        var allPages = _rimborsiConfermatiTable.cells().nodes();
        $(allPages).find('input[type="checkbox"]').prop('checked', true);
        return;
    }

    function deselezionaTutto() {
        var allPages = _rimborsiConfermatiTable.cells().nodes();
        $(allPages).find('input[type="checkbox"]').prop('checked', false);
        return;
    }

    $('#ddlUsers-menu a').on('click', function () {
        $('#ddlUsers').html($(this).html() + '   <span class="caret"></span>');
        $('#ddlUsers').attr('value', $(this).html());
    })

</script>
